faiss_cpu==1.8.0
fastapi==0.104.1
langchain==0.3.7
langchain-community==0.3.0
langchain-core==0.1.29
langchain-nvidia-ai-endpoints==0.1.4
numpy==1.26.4
sentence-transformers==2.2.2
unstructured==0.11.8
